<div class="row">

<div class="col-md-offset-2 col-md-8 text-center">
  <h1 class="page-title">Articles</h1>
  <% @articles.each do |art| %>
  <div class="article">
    <p class="date">
      <%= art.pretty_date %>
    </p>
    <h2><%= link_to art.name, art %></h2>
    <hr />
  </div>
  <% end %>
  <%= will_paginate @articles %>
</div>
</div>
