<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center contact">
    <h1 class="page-title">Say hello!</h1>
    <label>Name</label>
    <br />
    <input type="text" />
    <br />
    <label>Email</label>
    <br />
    <input type="email" />
    <br />
    <label>Message</label>
    <br />
    <textarea></textarea>
    <br />
    <input type="submit" value="Send Message" class="button" />
  </div>
</div>
