<div class="clearfix row">
  <div class="col-md-offset-2 homepage_padding col-md-4 homepage_content about">
    <h2>About</h2>
    <hr />
    <p>
      Hello, I'm Adam, I'm a Ruby on Rails developer and adventurer. When I'm not coding, I travel, dance salsa or play board games with my friends.
    </p>
    <p>
      On this blog I intend to share things that I learn.
    </p>
  </div>
  <div class="col-md-4 homepage_content homepage_padding">
    <h2>Articles</h2>
    <hr />
    <% @articles.each do |art| %>
    <h3><%= link_to art.name, article_path(art) %></h3>
    <p class="date">
      <%= art.pretty_date %>
    </p>
    <% end %>
  </div>
</div>
