<div class="clearfix row homepage_padding">
  <div class="col-md-offset-1 col-md-4 homepage_content about">
    <h2>About</h2>
    <hr />
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud
         exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in</p>
          <p>


           reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur
             sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit
               <a href="#">anim</a> id est laborum."
    </p>
  </div>
  <div class="col-md-3 homepage_content">
    <h2>Articles</h2>
    <hr />
    <% @articles.each do |art| %>
    <h3><%= link_to art.name, article_path(art) %></h3>
    <p class="date">
      <%= art.created_at %>
    </p>
    <% end %>
  </div>
  <div class="col-md-3 homepage_content">
    <h2>Projects</h2>
    <hr />
    <% @projects.each do |p| %>
    <h3><%= link_to p.name, p %></h3>
    <p class="date">
      <%= p.created_at %>
    </p>
    <% end %>
  </div>

</div>
