<div class="clearfix row homepage_padding">
  <div class="col-md-offset-1 col-md-4 homepage_content about">
    <h2>About</h2>
    <hr />
    <p>
      Hello, I'm Adam, I'm self taught web developer and adventurer. Right now I'm working on my Ruby on Rails and AngularJS skills. When I'm not coding, I travel, dance salsa or play board games with my friends.
    </p>
  </div>
  <div class="col-md-3 homepage_content">
    <h2>Articles</h2>
    <hr />
    <% @articles.each do |art| %>
    <h3><%= link_to art.name, article_path(art) %></h3>
    <p class="date">
      <%= art.pretty_date %>
    </p>
    <% end %>
  </div>
  <div class="col-md-3 homepage_content">
    <h2>Projects</h2>
    <hr />
    <% @projects.each do |p| %>
    <h3><%= link_to p.name, p %></h3>
    <p class="date">
      <%= p.pretty_date %>
    </p>
    <% end %>
  </div>
</div>
