<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1 class="page-title">Projects</h1>
    <% @projects.each do |p| %>
    <div class="project">
      <p class="date">
        <%= p.created_at %>
      </p>
      <h2><%= link_to p.name, p %></h2>
      <hr />
    </div>
    <% end %>
    <%= will_paginate @projects %>
  </div>
</div>
