@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "font-awesome";

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

body {
  font-family: 'Raleway', sans-serif;
}

.clearfix:before{}
.clearfix:after{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}

h1, h2, h3, h4, h5, h6, p , ul, li{
  color: $dark;
}
h1 {
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.75rem;
}

h5{
  font-size: 1.5rem;
}

h6{
  font-size: 1.25rem;
}

p, li{
  font-size: 1.4rem;
  line-height: 1.75;
}

.col-md-offset-1{
  margin-left: 5%;
}

.page-title{
  border-bottom: 1px solid $border;
  padding: 1em 0;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.alert, .notice{
  text-align: center;
}

.navbar-default{
  background-color: #FFF;
}

.navbar {
  margin-bottom: 0;
}

@import 'articles';
@import 'contact';
@import 'footer';
@import 'home';
@import 'navigation';
@import 'projects';
@import 'pygments';
