$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

#main-footer{
  padding: 2.5em 5%;
  border-top: 1px solid $border;
  .copyright{
    float: left;
    font-size: .9em;
    margin-bottom: 0;
  }
  nav{
    float: right;
  }
  i{
    color: $light;
    margin-left: 1em;
    padding-top: .2em;
    &:hover{
      color: $highlight;
    }
  }
}
